$tile-size: 6em;
.r0{
}
.r1{
  top: $tile-size;
}
.r2{
  top: $tile-size*2;
}
.r3{
  top: $tile-size*3;
}
.r4{
  top: $tile-size*4;
}

.c0{
}
.c1{
  left: $tile-size;
}
.c2{
  left: $tile-size*2;
}
.c3{
  left: $tile-size*3;
}
.c4{
  left: $tile-size*4;
}

