* {
  box-sizing: border-box; }

html, body {
  height: 100%; }
  @media (min-width: 1400px) {
    html, body {
      font-size: 24px; } }
  @media (max-width: 1400px) {
    html, body {
      font-size: 18px; } }
  @media (max-width: 900px) {
    html, body {
      font-size: 12px; } }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: #ffffff;
  background-color: #00394d; }
  body header {
    background-color: tomato;
    height: 3em; }
    body header nav ul {
      list-style: none;
      padding: 10px; }
      body header nav ul li {
        display: inline-block;
        padding: 0 10px; }
  body main {
    margin: 0 auto;
    position: relative;
    overflow-x: hidden; }
    @media (min-width: 1400px) {
      body main {
        min-height: 18em;
        height: calc(100% - 6em);
        width: 90%; } }
    @media (max-width: 1400px) {
      body main {
        min-height: 18em;
        height: calc(100% - 6em);
        width: 90%; } }
    @media (max-width: 900px) {
      body main {
        min-height: calc(100% - 6em);
        width: 100%; } }
    body main .panorama {
      position: absolute;
      width: 100em;
      height: 100%;
      padding-top: 2em; }
      body main .panorama .group {
        min-width: 18em;
        display: inline-block; }
        @media (max-width: 900px) {
          body main .panorama .group {
            display: block; } }
        body main .panorama .group .group-content {
          height: 18em;
          position: relative; }
  body footer {
    height: 3em;
    background-color: black; }

.tile {
  height: 6em;
  padding: 0.2em;
  line-height: 5.6em;
  text-align: center;
  font-weight: bold;
  position: absolute; }
  .tile .placeholder {
    width: 100%;
    background-color: rgba(200, 200, 200, 0.2); }
  .tile .content {
    background-color: #2e8bcc;
    border: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    overflow: hidden; }

.size-1 {
  width: 6em; }

.size-2 {
  width: 12em; }

.size-3 {
  width: 18em; }

.size-4 {
  width: 24em; }
