@import "_base";
//reset and normalization
* {
  box-sizing: border-box;
}



//global
html, body{
  height: 100%;
  @include breakpoint(desktop) { font-size: 24px }
  @include breakpoint(tablet) { font-size: 18px; }
  @include breakpoint(phone) { font-size: 12px; }
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: #ffffff;
  background-color: #00394d;
  header{
    background-color: tomato;
    height: 3em;
    nav ul{
      list-style: none;
      padding: 10px;
      li {
        display: inline-block;
        padding: 0 10px;
      }
    }
  }

  main{
    margin: 0 auto;
    position: relative;

    .panorama{
      height: 100%;
      padding-top: 2em;
      .group{
        min-width: $group-size;
        margin: 0 auto;
        h3{
          height: 2em;
        }
        .group-content{
          height: $group-size;
          position: relative;
        }
      }
    }
  }
  footer{
    height: 3em;
    background-color: black;
  }
}



.tile {
  height: $tile-size;
  padding: $tile-padding;
  transition: all .5s ease-in-out;
  display: inline-block;
  line-height: $tile-size - $tile-padding*2;
  text-align: center;
  font-weight: bold;
  position: absolute;
  .placeholder{
    width: 100%;
    background-color: rgba(200, 200, 200, 0.2);
  }
  .content{
    background-color: #2e8bcc;
    border: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    overflow: hidden;
  }
}
.size-1{
  width: $tile-size;
}
.size-2{
  width: $tile-size*2;
}
.size-3{
  width: $tile-size*3;
}
.size-4{
  width: $tile-size*4;
}


//drag and drop
.drag{
  opacity: 0.8;
}
.over{
  background-color: green;
}