<div class="tile-area tile-area-dark {{operation}}" style="{{'width: ' + size + 'em'}}">
    <h1 class="tile-area-title fg-white" draggable="true">Start</h1>
    <div class="user-id">
        <div class="user-id-image">
            <span class="icon-user no-display1"></span>
            <img src="../images/avatar_small.png" class="no-display">
        </div>
        <div class="user-id-name">
            <span class="first-name">Gimm</span>
            <span class="last-name">YU</span>
        </div>
    </div>


    <section group ng-repeat-start="group in groups"></section>
    <section group-splitter ng-repeat-end></section>
</div>
<div ng-class="{true:'navigation-bar dark fixed-bottom', false: 'hide'}[operation=='customize']">
    <div class="container">
        <nav class="navigation-bar-content">
            <a class="element" ng-click="uninstall()" ng-show="target"><i class="icon-remove"></i> Uninstall</a>
            <a class="element" ng-click="resize()" ng-show="target"><i class="icon-resize"></i> Resize</a>
            <a class="element place-right"><i class="icon-grid"></i> Customize</a>
        </nav>
    </div>
</div>
