* {
  box-sizing: border-box; }

html, body {
  height: 100%; }
  @media (min-width: 1400px) {
    html, body {
      font-size: 24px; }
      html main, body main {
        overflow: hidden;
        min-height: 18em;
        height: calc(100% - 6em);
        width: 90%; }
        html main .panorama, body main .panorama {
          position: absolute;
          width: 100em; }
          html main .panorama .group, body main .panorama .group {
            display: inline-block; } }
  @media (max-width: 1400px) {
    html, body {
      font-size: 18px; }
      html main, body main {
        overflow: hidden;
        min-height: 18em;
        height: calc(100% - 6em);
        width: 90%; }
        html main .panorama, body main .panorama {
          position: absolute;
          width: 100em; }
          html main .panorama .group, body main .panorama .group {
            display: inline-block; } }
  @media (max-width: 900px) {
    html, body {
      font-size: 12px; }
      html main, body main {
        min-height: calc(100% - 6em);
        height: auto;
        width: 100%;
        overflow-y: hidden; }
        html main .panorama, body main .panorama {
          flex-direction: column;
          width: 100%;
          position: relative; }
          html main .panorama .group, body main .panorama .group {
            display: block; }
          html main .panorama .size-3, body main .panorama .size-3 {
            width: 18em;
            height: 20em; }
          html main .panorama .size-4, body main .panorama .size-4 {
            width: 24em;
            height: 26em; } }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: #ffffff;
  background-color: #00394d; }
  body header {
    background-color: tomato;
    height: 3em; }
    body header nav ul {
      list-style: none;
      padding: 10px; }
      body header nav ul li {
        display: inline-block;
        padding: 0 10px; }
  body main {
    margin: 0 auto;
    position: relative; }
    body main .panorama {
      display: flex;
      height: 100%;
      padding-top: 2em; }
      body main .panorama .group {
        transition: all .5s ease-in-out;
        min-width: 6em; }
        body main .panorama .group h3 {
          height: 2em; }
        body main .panorama .group .group-content {
          height: 18em;
          position: relative;
          display: inline-flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: flex-start; }
      body main .panorama .group-splitter {
        width: 1em;
        height: 18em;
        margin-top: 2em; }
    body main .dragging .group-splitter {
      background-color: rgba(231, 221, 221, 0.3); }
    body main .dragging .tile {
      padding: 0.5em; }
  body footer {
    height: 3em;
    background-color: black; }

.tile {
  transition: all .5s ease-in-out;
  flex: 1;
  position: absolute;
  text-align: center;
  font-weight: bold;
  height: 6em;
  padding: 0.2em; }
  .tile .content {
    height: 100%;
    background-color: #2e8bcc;
    border: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    overflow: hidden; }

.s1 {
  width: 6em; }

.s2 {
  width: 12em; }

.s3 {
  width: 18em; }

.s4 {
  width: 24em; }

.s5 {
  width: 30em; }

.s6 {
  width: 36em; }

.drag {
  opacity: 0.8; }

.over {
  background-color: green; }
