@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";

$tile-width: 10em;
$tile-padding: .5em;
@import "coord";
@import "tile";

html, body {
  height: 100%;
}

body {
  background-color: #0F6D32;
}

//login
.something-semantic {
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: table;
}

.something-else-semantic {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: $screen-lg-min) {
  .login-avatar {
    border-right: thin solid tomato;
    text-align: right;
  }
  .login-form {
    width: 250px;
  }
}

//home
.navbar-raw{
  background-color: transparent;
  border-color: transparent;
}
main.container{
  overflow: hidden;
}
.panorama{
  color: #ffffff;
  display: flex;
  @media (max-width: $screen-sm-max) {
    width: 100% !important;
    flex-direction: column;
  }
  height: 100%;
  .group{
    transition: all .5s ease-in-out;
    min-width: $tile-width;
    h3{
      height: 2em;
    }
    .group-content{
      @media (min-width: $screen-md-min) {
        height: $tile-width*3;
        flex-direction: column;
      }

      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
  .group-splitter{
    width: 2em;
    height: $tile-width*3;
    margin-top: 56px;
  }
  &.reordering{
    .group-splitter{
      background-color: rgba(231, 221, 221, .3);
    }
    .tile{
      padding: 0.5em;
      .content{
        border: 0.3em solid darken(#2e8bcc, 20%);
      }
    }
  }
  &.customizing{
    .tile{
      padding: 0.5em;
      .content{
        border: 0.3em solid darken(#2e8bcc, 20%);
      }
    }
  }
}


.tile {
  transition: all .5s ease-in-out;
  @media (min-width: $screen-md-min) {
    position: absolute;
  }
  text-align: center;
  font-weight: bold;
  height: $tile-width;
  padding: 0.2em;
  .content{
    height: 100%;
    background-color: #2e8bcc;
    border: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    overflow: hidden;
  }
}

.s1{
  width: $tile-width;
}
.s2{
  width: $tile-width*2;
}
.s3{
  width: $tile-width*3;
}
.s4{
  width: $tile-width*4;
}
.s5{
  width: $tile-width*5;
}
.s6{
  width: $tile-width*6;
}
@media (max-width: $screen-sm-max) {
  .s3, .s4, .s5, .s6{
    width: 100%;
  }
}


//drag and drop
.drag{
  opacity: 0.8;
}
.over{
  background-color: green;
}
