<div class='group size-{{size}}'>
    <h3>{{gConfig.title}}</h3>

    <!--<div class='group-content'>-->
        <!--<tile class="tile cord-{{tile.cords}} size-{{tile.size || 1}}" t-config="tile" ng-repeat="tile in gConfig.tiles">-->
            <!--{{tile.name}}-->
        <!--</tile>-->
    <!--</div>-->
    <div class='group-content'>
            <tile class="tile r{{(tile.cords[0])}} c{{(tile.cords[1])}} size-{{tile.size || 1}}" t-config="tile" ng-repeat="tile in layout">
                {{tile.name || "*"}}
            </tile>
    </div>
</div>